@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup style="height: 41vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="text-danger">Đăng nhập thất bại</h1>
    <h2 class="text-danger">Tài khoản này đã bị khóa, vui lòng thử lại sau!</h2>
</hgroup>
