@model BoNuong.Models.LoaiSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

            <h2>Thông tin chi tiết</h2>

            <div>
                <h4>Loại sản phẩm</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Tên loại
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenLoai)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.MaLoai }) |
                @Html.ActionLink("Trở về", "Index")
            </p>
        </div>
    </main>
</div>

